openapi: 3.0.3
info:
  title: P1 Media API
  description: |
    REST API for uploading, versioning, and serving media assets for Puck-based P1
    sites. Backed by Cloudflare R2 (bytes) and D1 (metadata).

    ## Overview

    An asset is a logical identity (`assetId`); each upload or replacement creates a new
    **immutable version** (`versionId`) and repoints the asset's current version — old
    versions are never overwritten, so a URL a document has already pinned keeps serving
    forever. The store is **site-scoped and workstream-agnostic**: which version a page
    shows is decided by the version pinned in the CCR-managed document, not by this API.
    A legacy `workstreamId` query param is still accepted on `/media*` endpoints but is
    ignored — it exists only so older callers don't 400.

    Image bytes are served and transformed on demand from `/image/{key}` using the
    Cloudflare Images binding — resize, format conversion, smart/manual crop, blur,
    and more, all driven by query params (see the `Images` tag below). Responses carry
    `Cache-Control: public, max-age=31536000, immutable`, so a given transformed URL
    caches forever; nothing is ever re-uploaded or duplicated for a different size.

    `DELETE` is a **soft delete** — the asset is hidden from listings but its bytes keep
    serving, so already-published pages don't break. The separate, operator-only
    `POST /media/{assetId}/purge` is the hard-delete path for legal takedowns: bytes,
    rows, and edge-cache entries all go.

    ## Authentication

    Authenticated endpoints require `Authorization: Bearer <token>` — the same bearer
    token issued by CCR. The worker validates it by calling CCR's own
    `GET /api/sites/{siteId}` and checking the caller has `canView` on that site;
    `/image/*` and `GET /media/schema` require no auth and are safe to call publicly
    (consistent with normal CDN image delivery).

    ## Error responses

    Errors are `{ "error": "<message>" }` with a standard HTTP status:
    `400` invalid input, `401` missing/invalid token, `403` forbidden (token valid,
    no access), `404` not found, `413` file too large, `415` unsupported file type,
    `500` internal error.
  version: "1.0"
  contact:
    name: Pantheon Engineering
    url: https://pantheon.io
  license:
    name: Proprietary
    url: https://pantheon.io/terms

servers:
  - url: https://media.p1.pantheon.io
    description: Production
  - url: https://staging.media.p1.pantheon.io
    description: Staging
  - url: https://media.sandbox.p1.pantheon.io
    description: Sandbox
  - url: http://localhost:8788
    description: Local development (wrangler dev)

tags:
  - name: Images
    description: Public, unauthenticated image delivery and on-demand transformation
  - name: Media
    description: Authenticated asset management — upload, list, edit, delete, version

security:
  - bearerAuth: []

paths:
  # ===========================================================================
  # Images — public delivery
  # ===========================================================================
  /image/{key}:
    get:
      summary: Serve and transform an image
      description: |
        Serves the immutable bytes for a version, transformed on the fly if any
        transform query param is present; otherwise the raw R2 object is served
        directly (no Images-binding billing). `key` is the full R2 object key —
        `{siteId}/assets/{assetId}/{versionId}-{filename}` — and contains additional
        slashes; the leading `{siteId}` segment is checked against the rest of the
        key as a path-traversal guard, not against a separate auth token.
      operationId: getImage
      tags: [Images]
      security: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: >-
            Full object key, e.g. `85f5c007-.../assets/1f49c524-.../37fb4ea0-...-photo.jpg`.
          example: 85f5c007-07e7-497f-93ce-7c11b9397e65/assets/1f49c524-2271-40b9-8bcc-9fcc6a4d19c8/37fb4ea0-3b01-4c98-823d-9874ed9c626e-photo.jpg
        - $ref: '#/components/parameters/widthParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/qualityParam'
        - $ref: '#/components/parameters/fitParam'
        - $ref: '#/components/parameters/gravityParam'
        - $ref: '#/components/parameters/blurParam'
        - $ref: '#/components/parameters/brightnessParam'
        - $ref: '#/components/parameters/contrastParam'
        - $ref: '#/components/parameters/saturationParam'
        - $ref: '#/components/parameters/sharpenParam'
        - $ref: '#/components/parameters/rotateParam'
        - $ref: '#/components/parameters/trimTopParam'
        - $ref: '#/components/parameters/trimLeftParam'
        - $ref: '#/components/parameters/trimHeightParam'
        - $ref: '#/components/parameters/trimWidthParam'
      responses:
        '200':
          description: Image bytes (raw or transformed, per requested `format`)
          content:
            image/*:
              schema:
                type: string
                format: binary
        '403':
          description: >-
            Defensive path-traversal guard (the leading key segment must match
            the site it claims to belong to). Not reachable through normal use,
            since the worker derives that segment from the key itself.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404':
          description: Object not found in R2
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ===========================================================================
  # Media — schema
  # ===========================================================================
  /media/schema:
    get:
      summary: Get the metadata field schema
      description: >-
        Pantheon-defined, global field set (`alt`, `caption`, `credit`, `byline` as of
        this version) — drives the media library's metadata inputs. Fetch this rather
        than hardcoding field names; the set may grow.
      operationId: getMediaSchema
      tags: [Media]
      security: []
      responses:
        '200':
          description: Ordered list of metadata field definitions
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MetadataField' }

  # ===========================================================================
  # Media — list / upload
  # ===========================================================================
  /media:
    get:
      summary: List a site's assets
      description: Newest first. `search` matches the filename and every metadata value (alt, caption, credit, byline, …), case-insensitively.
      operationId: listMedia
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - name: search
          in: query
          schema: { type: string }
          description: Case-insensitive substring match against filename and all metadata values.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 200 }
          description: Clamped server-side to [1, 500].
      responses:
        '200':
          description: Site's assets, newest first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MediaAsset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  # ===========================================================================
  # Media — presigned direct-to-R2 upload (new asset)
  # ===========================================================================
  /media/presign:
    post:
      summary: Mint a presigned upload URL for a new asset
      description: >-
        Step 1 of the direct-to-R2 upload flow: validates the declared file
        facts and metadata, mints `assetId`/`versionId`, and returns a
        short-lived (5 min) presigned PUT URL. The client PUTs the file bytes
        directly to `uploadUrl` — a bare request with no `Authorization`
        header (the presigned URL's signed query string is the auth) and a
        `Content-Type` that exactly matches what was declared here, since R2
        signature-checks it and rejects a mismatch with `403`. No D1 write
        happens at this step; call `POST /media/finalize` afterward to
        persist the asset.
      operationId: presignMediaUpload
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PresignRequest' }
      responses:
        '200':
          description: Presigned upload URL minted; nothing persisted yet
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PresignResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413':
          description: Declared size exceeds the maximum upload size
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '415':
          description: Unsupported file type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /media/finalize:
    post:
      summary: Confirm a presigned upload and create the asset
      description: >-
        Step 2 of the direct-to-R2 upload flow, called after the client PUTs
        bytes to the `uploadUrl` from `POST /media/presign`. Confirms the
        object actually landed in R2 via a `head()` call — never trusts a
        client-declared size or content type — enforces the real size cap
        (deleting an oversized object rather than persisting anything about
        it), captures dimensions, and writes the D1 rows. Idempotent: calling
        this twice with the same `assetId`/`versionId` returns the same asset
        both times, so it's safe to retry blindly on a timeout.
      operationId: finalizeMediaUpload
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FinalizeUploadRequest' }
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaAsset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: 'Upload not found — the presigned URL expired (5 min), or the PUT never completed'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '413':
          description: Uploaded object exceeds the maximum size (the object is deleted server-side)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ===========================================================================
  # Media — chat attachment content and promotion
  # ===========================================================================
  /media/{assetId}/content:
    get:
      summary: Download an asset's bytes
      description: >-
        Authenticated, site-scoped read of the stored file. This is how a chat
        attachment is reopened — unlike `/image/{key}`, which is public and serves
        images only, this route requires a bearer token and so can serve text.


        Anything that is not a known image type is served as
        `text/plain; charset=utf-8` regardless of how it was stored, with `nosniff`.
        A chat attachment may be `.html`, and echoing that type would let it execute
        on the media origin. Responses are `Cache-Control: private` — never a shared
        cache, since access is per-user.
      operationId: getMediaContent
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
        - name: width
          in: query
          schema: { type: integer, minimum: 1, maximum: 512 }
          description: >-
            Resize an image to this width, capped at 512 — enough for a retina transcript
            card, and deliberately not the general-purpose transform `/image/{key}` offers.
            Ignored for anything that is not a known image type. A transform failure falls
            back to the original bytes rather than erroring.
      responses:
        '200':
          description: The file. Text is always `text/plain`; images keep their own type.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: >-
            No such asset for this site, or its bytes are gone. Expiry is not checked
            on read: a chat attachment past its retention keeps serving until the
            retention sweep collects it, and 404s from then on.

  /media/{assetId}/chat:
    delete:
      summary: Soft-delete an asset, but only while it is still a chat upload
      description: >-
        What clearing a conversation calls. An asset promoted into the library 404s instead,
        so clearing a conversation cannot remove an image the user added to their library.


        A separate path rather than a flag on `DELETE /media/{assetId}`: a worker predating
        this route 404s on the extra segment, where an ignored query parameter would have
        silently widened the delete to the whole asset.
      operationId: deleteChatMediaAsset
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: No such chat upload for this site — absent, foreign, or already promoted.

  /media/{assetId}/promote:
    post:
      summary: Add a chat attachment to the media library
      description: >-
        Flips `origin` from `chat` to `library` and clears the expiry, so the asset
        stops being swept and starts appearing in `GET /media`. A metadata update, not
        a copy: the assetId, versionId, URL and stored bytes are all unchanged.


        Images only, checked against the library's allowlist rather than the wider set
        chat accepts — the picker and its render helpers assume an image, so a promoted
        text file would be a permanently unrenderable library entry. Promoting an asset
        already in the library succeeds and changes nothing. One that was in the library
        and has since been deleted is a real write: the deletion is cleared and the asset
        returns, because the conversation that uploaded it keeps its reference and is the
        only route back. Submitted metadata is layered over whatever the asset already
        carries, so a field left blank is not erased.
      operationId: promoteMediaAsset
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
      responses:
        '200':
          description: The asset, now a library asset.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaAsset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '415':
          description: Not an image — only image assets can enter the media library.

  # ===========================================================================
  # Media — single asset
  # ===========================================================================
  /media/{assetId}:
    get:
      summary: Get a single asset
      operationId: getMediaAsset
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
      responses:
        '200':
          description: The asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaAsset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      summary: Update an asset's metadata defaults
      description: >-
        Flat map of field name → new value. A value of `null` clears that field.
        Only field names advertised by `GET /media/schema` are accepted.
      operationId: updateMediaMetadata
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                nullable: true
                type: string
                maxLength: 2000
              maxProperties: 32
              description: Only field names from `GET /media/schema` are accepted; any other key is a 400.
              example: { alt: "A red barn at sunset", caption: null }
      responses:
        '200':
          description: Updated asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaAsset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      summary: Soft-delete an asset
      description: >-
        Hidden from listings; bytes keep serving (already-published pages don't break).


        Deletes whatever the asset is now. To delete only while it is still a chat upload,
        use `DELETE /media/{assetId}/chat`.
      operationId: deleteMediaAsset
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===========================================================================
  # Media — presigned direct-to-R2 upload (replacement version)
  # ===========================================================================
  /media/{assetId}/purge:
    post:
      summary: Hard-purge an asset (legal takedown)
      description: |
        **Destructive and irreversible.** Deletes every version's bytes from R2, removes
        the asset and version rows (so `GET /image/*` 404s every key), purges the edge
        cache by tag, and records an audit row of who purged what and when. This is the
        compliance path for DMCA / illegal-content / PII / GDPR-erasure requests; the
        reversible `DELETE /media/{assetId}` soft delete stays the normal path.

        Operator-only: authenticated by the `X-Purge-Token` header, **not** the bearer
        flow — no site token can invoke it. Attribution (`requestedBy`, `reason`) is
        caller-supplied and recorded verbatim; its integrity rests on custody of the
        token, not on verification of the body.

        Retryable and idempotent: a repeat call after success answers 200 with
        `alreadyPurged: true`; after a `partial` failure the same call resumes the work.

        **Coverage limits, stated honestly:** the tag purge evicts every cached
        transform variant at the edge, but copies already downloaded by browsers cannot
        be recalled within their `max-age` (up to one year). The load-bearing guarantee
        is that the origin 404s from this call onward.
      operationId: purgeMediaAsset
      tags: [Media]
      security: [{ purgeToken: [] }]
      parameters:
        - $ref: '#/components/parameters/assetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [requestedBy, reason]
              properties:
                requestedBy:
                  type: string
                  minLength: 1
                  maxLength: 200
                  description: Who asked for the takedown (email or service name).
                requestedByType:
                  type: string
                  enum: [user, agent, system]
                  default: user
                reason:
                  type: string
                  minLength: 1
                  maxLength: 1000
                  description: Free text — legal/ticket reference (e.g. "DMCA LEGAL-1234").
      responses:
        '200':
          description: >-
            Purge completed (or had already completed — `alreadyPurged: true`). A failed
            or skipped cache purge still returns 200 with `cachePurge` set accordingly:
            the destruction has committed and the origin already 404s. Re-running an
            already-completed purge re-attempts the cache purge, so a failed cache step
            is recovered by calling the endpoint again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  purgeId: { type: string }
                  assetId: { type: string }
                  siteId: { type: string, nullable: true }
                  status: { type: string, enum: [completed] }
                  alreadyPurged: { type: boolean }
                  r2Deleted: { type: integer }
                  r2Failed: { type: integer }
                  versionsDeleted: { type: integer }
                  cachePurge: { type: string, enum: [success, skipped, failed] }
        '400':
          description: Invalid request body. Every problem is reported at once in `errors`.
          content:
            application/json:
              schema:
                type: object
                required: [error, errors]
                properties:
                  error: { type: string }
                  errors:
                    type: array
                    items: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500':
          description: >-
            Partial or failed purge — some bytes or rows may remain (`status: partial`).
            Never treat as done; retry the same call. The audit row records exactly what
            survived.
          content:
            application/json:
              schema:
                type: object
                properties:
                  purgeId: { type: string }
                  assetId: { type: string }
                  siteId: { type: string, nullable: true }
                  status: { type: string, enum: [partial] }
                  r2Deleted: { type: integer }
                  r2Failed: { type: integer }
                  versionsDeleted: { type: integer }
        '503':
          description: PURGE_ADMIN_TOKEN is not configured in this environment (fails closed).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /media/{assetId}/versions/presign:
    post:
      summary: Mint a presigned upload URL for a replacement version
      description: >-
        Same flow as `POST /media/presign`, scoped to an existing asset.
        Metadata defaults are untouched by a version replacement — use
        `PATCH /media/{assetId}` for that.
      operationId: presignMediaVersion
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PresignRequest' }
      responses:
        '200':
          description: Presigned upload URL minted; nothing persisted yet
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PresignResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413':
          description: Declared size exceeds the maximum upload size
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '415':
          description: Unsupported file type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /media/{assetId}/versions/finalize:
    post:
      summary: Confirm a presigned replacement version
      description: >-
        Called after the client PUTs bytes to the `uploadUrl` from
        `POST /media/{assetId}/versions/presign`. Same confirm/size-cap/
        dimension-capture logic as `POST /media/finalize`, then repoints the
        asset's `current_version`. Older versions' URLs keep serving.
      operationId: finalizeMediaVersion
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/siteIdParam'
        - $ref: '#/components/parameters/assetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FinalizeVersionRequest' }
      responses:
        '201':
          description: New version added; asset now points at it
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaAsset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: 'Asset not found for this site, or the upload was not found (presign expired / PUT never completed)'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '413':
          description: Uploaded object exceeds the maximum size (the object is deleted server-side)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

components:
  # ---------------------------------------------------------------------------
  # Security
  # ---------------------------------------------------------------------------
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: CCR-issued bearer token. Validated server-side against `GET {CCR_BASE_URL}/api/sites/{siteId}` (`canView`).
    purgeToken:
      type: apiKey
      in: header
      name: X-Purge-Token
      description: >-
        Operator secret for the hard-purge endpoint (`wrangler secret put
        PURGE_ADMIN_TOKEN`). Deliberately separate from the site-scoped bearer flow:
        takedowns are operator/legal actions, not customer self-service. When the secret
        is not configured in an environment the endpoint answers 503 (fails closed).

  # ---------------------------------------------------------------------------
  # Parameters
  # ---------------------------------------------------------------------------
  parameters:
    siteIdParam:
      name: siteId
      in: query
      required: true
      schema: { type: string }
      description: Site UUID. Every query is scoped to this site — an asset from another site is never returned or affected.
    assetIdParam:
      name: assetId
      in: path
      required: true
      schema: { type: string }
    widthParam:
      name: width
      in: query
      schema: { type: integer, minimum: 1, maximum: 5000 }
      description: Output width in pixels.
    heightParam:
      name: height
      in: query
      schema: { type: integer, minimum: 1, maximum: 5000 }
      description: Output height in pixels.
    formatParam:
      name: format
      in: query
      schema: { type: string, enum: [auto, webp, avif, jpeg, jpg, png, gif] }
      description: '`auto` negotiates the best format from the `Accept` header (avif → webp → jpeg). `jpg` is accepted as a synonym for `jpeg`.'
    qualityParam:
      name: quality
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 85 }
    fitParam:
      name: fit
      in: query
      schema: { type: string, enum: [scale-down, contain, pad, squeeze, cover, crop, aspect-crop] }
      description: Use with `gravity=auto` for content-aware smart crop.
    gravityParam:
      name: gravity
      in: query
      schema: { type: string }
      description: 'Named focal point (`auto`, `face`, `left`, `right`, `top`, `bottom`, `center`, `entropy`) or relative coordinates `XxY` (e.g. `0.3x0.7`).'
    blurParam:
      name: blur
      in: query
      schema: { type: number, minimum: 0, maximum: 250 }
    brightnessParam:
      name: brightness
      in: query
      schema: { type: number, minimum: 0, maximum: 10, default: 1 }
    contrastParam:
      name: contrast
      in: query
      schema: { type: number, minimum: 0, maximum: 10, default: 1 }
    saturationParam:
      name: saturation
      in: query
      schema: { type: number, minimum: 0, maximum: 10, default: 1 }
      description: 0 = grayscale, 1 = default.
    sharpenParam:
      name: sharpen
      in: query
      schema: { type: number, minimum: 0, maximum: 10 }
    rotateParam:
      name: rotate
      in: query
      schema: { type: integer, enum: [0, 90, 180, 270] }
    trimTopParam:
      name: trim.top
      in: query
      schema: { type: number }
      description: >-
        Manual crop region, in source-image pixels. Intended to be sent as a
        complete set of four; the worker does not validate that all four are
        present or reject a partial/out-of-bounds set — an incomplete or invalid
        combination is passed through to the Images binding as-is.
    trimLeftParam:
      name: trim.left
      in: query
      schema: { type: number }
    trimHeightParam:
      name: trim.height
      in: query
      schema: { type: number }
    trimWidthParam:
      name: trim.width
      in: query
      schema: { type: number }

  # ---------------------------------------------------------------------------
  # Reusable responses
  # ---------------------------------------------------------------------------
  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Token is valid but lacks access to this site
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: No such asset for this site
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ---------------------------------------------------------------------------
  # Schemas
  # ---------------------------------------------------------------------------
  schemas:
    ErrorResponse:
      type: object
      properties:
        error: { type: string }
      required: [error]

    MetadataField:
      type: object
      properties:
        name: { type: string, example: caption }
        label: { type: string, example: Caption }
        type: { type: string, enum: [string] }
        required: { type: boolean }
      required: [name, label, type]

    PresignRequest:
      type: object
      required: [filename, contentType, size]
      properties:
        filename:
          type: string
          description: Gets sanitized server-side — the response's filename may differ from what you sent.
        contentType:
          type: string
          description: >-
            Must be in the allowlist for this request's `origin`. Signed into the
            presigned URL, so the PUT's Content-Type header has to match it exactly.
          enum:
            [image/png, image/jpeg, image/gif, image/webp, image/avif,
             text/plain, text/markdown, text/csv, text/html]
        origin:
          type: string
          enum: [library, chat]
          default: library
          description: >-
            Where the asset comes from, which decides what it may contain.
            `library` (the default, and what an omitted value means) accepts the
            five image types only, and the asset appears in GET /media.
            `chat` additionally accepts the four text types, is excluded from
            GET /media, and expires 30 days after upload unless promoted.
            Rejected with 400 on the version-replacement path — chat assets have
            no replace flow. An unrecognised value is a 400, not a fallback.
        size:
          type: integer
          minimum: 1
          description: Declared byte size — a soft check; finalize enforces the real cap against R2's own head() result.
        metadata:
          type: object
          additionalProperties: { type: string, maxLength: 2000 }
          maxProperties: 32
          description: >-
            Optional. Only field names from GET /media/schema are accepted.
            Ignored entirely for a version replacement — metadata defaults
            aren't touched by POST /media/{assetId}/versions/finalize.
          example: { alt: "A red barn at sunset" }

    PresignResponse:
      type: object
      required: [assetId, versionId, filename, uploadUrl, expiresAt]
      properties:
        assetId: { type: string, format: uuid }
        versionId: { type: string, format: uuid }
        filename: { type: string, description: Sanitized filename — resend this exact value to finalize. }
        uploadUrl:
          type: string
          format: uri
          description: >-
            Presigned R2 PUT URL. PUT the file bytes here directly — no
            Authorization header; Content-Type must exactly match what was
            declared above, or R2 rejects the PUT with 403.
        expiresAt: { type: string, format: date-time, description: 5 minutes after minting. }

    FinalizeUploadRequest:
      type: object
      required: [assetId, versionId, filename]
      properties:
        assetId: { type: string, format: uuid, description: From the presign response. }
        versionId: { type: string, format: uuid, description: From the presign response. }
        filename: { type: string, description: Resend the exact filename the presign response returned. }
        origin:
          type: string
          enum: [library, chat]
          default: library
          description: >-
            Must match the origin sent to presign. Nothing is persisted between the
            two calls, so finalize re-checks the type R2 actually recorded against
            this origin's allowlist and returns 415 on a mismatch.
        metadata:
          type: object
          additionalProperties: { type: string, maxLength: 2000 }
          maxProperties: 32
          description: Resend the same metadata sent to presign — finalize does not remember it server-side.

    FinalizeVersionRequest:
      type: object
      required: [versionId, filename]
      description: assetId comes from the URL path, not the body.
      properties:
        versionId: { type: string, format: uuid, description: From the presign response. }
        filename: { type: string, description: Resend the exact filename the presign response returned. }

    MediaAsset:
      type: object
      description: >-
        `metadata` is a flat map of every schema field that is currently set,
        including `alt` (promoted to its own indexed column internally, but presented
        uniformly here).
      properties:
        assetId: { type: string, format: uuid }
        versionId:
          type: string
          format: uuid
          description: The current version.
        url:
          type: string
          format: uri
          description: Immutable CDN URL for the current version.
        filename: { type: string }
        contentType: { type: string, example: image/jpeg }
        origin:
          type: string
          enum: [chat]
          description: >-
            Present only for a chat upload. A library asset omits the field entirely
            rather than sending "library", so its response is byte-identical to what
            this endpoint returned before origins existed.
        size: { type: integer, description: Bytes }
        width: { type: integer }
        height: { type: integer }
        metadata:
          type: object
          additionalProperties: { type: string }
          example: { alt: "A red barn at sunset", caption: "Barn, late afternoon" }
        metaSchemaVersion:
          type: integer
          description: Which version of the metadata field set this asset's metadata conforms to.
        createdAt: { type: string, format: date-time }
      required: [assetId, versionId, url, filename, metadata]
