openapi: 3.0.3
info:
  title: Collaborative State System API
  description: |
    REST API for the Collaborative State System (CSS) - a JSON state versioning
    and real-time collaboration platform built on Cloudflare Workers and Durable Objects.

    ## Overview

    The Collaborative State System provides:
    - **Version Control**: Git-like branching and merging for JSON documents
    - **Real-time Collaboration**: WebSocket-based CRDT synchronization
    - **Agent Politeness**: AI agent coordination with human-first editing priority
    - **Presence Awareness**: Real-time visibility of who is editing what

    ## Authentication

    All authenticated endpoints require one of:
    - **Bearer Token**: `Authorization: Bearer <jwt-token>`
    - **API Key**: `X-API-Key: <api-key>` header or `?apiKey=<key>` query parameter

    ## Rate Limits

    - Standard endpoints: 1000 requests/minute per principal
    - Real-time connections: 100 concurrent WebSocket connections per document

    ## Error Responses

    All errors follow a consistent format:
    ```json
    {
      "error": "Error message",
      "details": {
        "reason": "Specific reason",
        "suggestions": ["Possible fix"]
      }
    }
    ```

  version: 1.0.0
  contact:
    name: Pantheon Engineering
    url: https://pantheon.io
  license:
    name: Proprietary
    url: https://pantheon.io/terms

servers:
  - url: https://css.pantheon.io/api
    description: Production
  - url: https://css-staging.pantheon.io/api
    description: Staging
  - url: http://localhost:8787/api
    description: Local Development

tags:
  - name: Health
    description: System health and status
  - name: Authentication
    description: Token issuance and validation
  - name: Organizations
    description: Organization management for agent configuration
  - name: Agents
    description: Agent registry and status management
  - name: Sites
    description: Pantheon site management
  - name: Branches
    description: Branch lifecycle and version control
  - name: Documents
    description: Document inventory and metadata
  - name: Versions
    description: Document version history
  - name: Real-time
    description: Real-time editing and WebSocket connections
  - name: Checkpoints
    description: Named snapshots for rollback
  - name: Merge
    description: Branch merging and conflict resolution
  - name: Merge Requests
    description: Merge request workflow
  - name: Structures
    description: Site hierarchies and navigation
  - name: Structure Nodes
    description: Nodes within site structures
  - name: Document Metadata
    description: Schema-validated document metadata
  - name: Branch Grants
    description: Branch-level authorization
  - name: Presence
    description: Actor presence and awareness

security:
  - bearerAuth: []
  - apiKeyHeader: []

paths:
  # ===========================================================================
  # Health & Auth
  # ===========================================================================
  /health:
    get:
      summary: Health check
      description: Returns system health status including database connectivity.
      operationId: getHealth
      tags: [Health]
      security: []
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: System unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /auth/users:
    get:
      summary: List test users (development only)
      description: Returns available test users for local development authentication.
      operationId: listTestUsers
      tags: [Authentication]
      security: []
      responses:
        '200':
          description: List of test users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/MockUser'
                  agents:
                    type: array
                    items:
                      $ref: '#/components/schemas/MockAgent'
        '403':
          description: Not available in production
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/token:
    post:
      summary: Issue authentication token
      description: Issues a JWT token for a user or agent principal.
      operationId: issueToken
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UserTokenRequest'
                - $ref: '#/components/schemas/AgentTokenRequest'
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ===========================================================================
  # Organizations
  # ===========================================================================
  /organizations:
    get:
      summary: List organizations
      description: Returns all organizations the principal has access to.
      operationId: listOrganizations
      tags: [Organizations]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create organization
      description: Creates a new organization for agent configuration.
      operationId: createOrganization
      tags: [Organizations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /organizations/{orgId}:
    parameters:
      - $ref: '#/components/parameters/orgIdParam'
    get:
      summary: Get organization
      description: Returns details for a specific organization.
      operationId: getOrganization
      tags: [Organizations]
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update organization
      description: Updates organization name or settings.
      operationId: updateOrganization
      tags: [Organizations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete organization
      description: Deletes an organization. Fails if agents are registered.
      operationId: deleteOrganization
      tags: [Organizations]
      responses:
        '204':
          description: Organization deleted
        '409':
          description: Organization has registered agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ===========================================================================
  # Agents
  # ===========================================================================
  /organizations/{orgId}/agents:
    parameters:
      - $ref: '#/components/parameters/orgIdParam'
    get:
      summary: List agents
      description: Returns all agents registered in the organization.
      operationId: listAgents
      tags: [Agents]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: status
          in: query
          description: Filter by agent status
          schema:
            $ref: '#/components/schemas/AgentStatus'
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'

    post:
      summary: Create agent
      description: Registers a new agent in the organization.
      operationId: createAgent
      tags: [Agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredAgent'
        '400':
          $ref: '#/components/responses/BadRequest'

  /organizations/{orgId}/agents/{agentId}:
    parameters:
      - $ref: '#/components/parameters/orgIdParam'
      - $ref: '#/components/parameters/agentIdParam'
    get:
      summary: Get agent
      description: Returns details for a specific agent.
      operationId: getAgent
      tags: [Agents]
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredAgent'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update agent
      description: Updates agent name, description, or settings.
      operationId: updateAgent
      tags: [Agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredAgent'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete agent
      description: Removes an agent from the registry.
      operationId: deleteAgent
      tags: [Agents]
      responses:
        '204':
          description: Agent deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/agents/{agentId}/status:
    parameters:
      - $ref: '#/components/parameters/orgIdParam'
      - $ref: '#/components/parameters/agentIdParam'
    put:
      summary: Update agent status
      description: Changes agent status (active, suspended, disabled).
      operationId: updateAgentStatus
      tags: [Agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/AgentStatus'
                reason:
                  type: string
                  description: Reason for status change
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredAgent'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/agents/{agentId}/presence:
    parameters:
      - $ref: '#/components/parameters/orgIdParam'
      - $ref: '#/components/parameters/agentIdParam'
    get:
      summary: Get agent global presence
      description: Returns the agent's presence across all sites and documents.
      operationId: getAgentPresence
      tags: [Agents, Presence]
      responses:
        '200':
          description: Agent presence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentGlobalPresence'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Sites
  # ===========================================================================
  /sites:
    get:
      summary: List sites
      description: Returns all sites the principal has access to.
      operationId: listSites
      tags: [Sites]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: List of sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteListResponse'

    post:
      summary: Create site
      description: Registers a new Pantheon site in the system.
      operationId: createSite
      tags: [Sites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteRequest'
      responses:
        '201':
          description: Site created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Site with pantheonSiteId already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sites/{siteId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    get:
      summary: Get site
      description: Returns details for a specific site.
      operationId: getSite
      tags: [Sites]
      responses:
        '200':
          description: Site details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update site
      description: Updates site name or workflow settings.
      operationId: updateSite
      tags: [Sites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSiteRequest'
      responses:
        '200':
          description: Site updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete site
      description: Deletes a site and all associated data.
      operationId: deleteSite
      tags: [Sites]
      responses:
        '204':
          description: Site deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/presence:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    get:
      summary: Get site presence
      description: Returns aggregated presence for all branches and documents in the site.
      operationId: getSitePresence
      tags: [Sites, Presence]
      responses:
        '200':
          description: Site presence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitePresence'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Branches
  # ===========================================================================
  /sites/{siteId}/branches:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    get:
      summary: List branches
      description: Returns all branches for a site.
      operationId: listBranches
      tags: [Branches]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: status
          in: query
          description: Filter by branch status
          schema:
            $ref: '#/components/schemas/BranchStatus'
      responses:
        '200':
          description: List of branches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchListResponse'

    post:
      summary: Create branch
      description: Creates a new branch from a parent branch.
      operationId: createBranch
      tags: [Branches]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBranchRequest'
      responses:
        '201':
          description: Branch created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Branch name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sites/{siteId}/branches/{branchId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
    get:
      summary: Get branch
      description: Returns details for a specific branch.
      operationId: getBranch
      tags: [Branches]
      responses:
        '200':
          description: Branch details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update branch
      description: Updates branch name, description, or status.
      operationId: updateBranch
      tags: [Branches]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBranchRequest'
      responses:
        '200':
          description: Branch updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete branch
      description: Deletes a branch. Cannot delete main branch.
      operationId: deleteBranch
      tags: [Branches]
      responses:
        '204':
          description: Branch deleted
        '400':
          description: Cannot delete main branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/branches/{branchId}/presence:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
    get:
      summary: Get branch presence
      description: Returns presence for all documents in the branch.
      operationId: getBranchPresence
      tags: [Branches, Presence]
      responses:
        '200':
          description: Branch presence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchPresence'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Documents
  # ===========================================================================
  /sites/{siteId}/documents:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    get:
      summary: List documents
      description: Returns all documents in a site.
      operationId: listDocuments
      tags: [Documents]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: pathPrefix
          in: query
          description: Filter documents by path prefix
          schema:
            type: string
          example: pages/
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListResponse'

    post:
      summary: Create document
      description: Creates a new document in the site.
      operationId: createDocument
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
      responses:
        '201':
          description: Document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '409':
          description: Document path already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sites/{siteId}/documents/{documentId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/documentIdParam'
    get:
      summary: Get document
      description: Returns document metadata.
      operationId: getDocument
      tags: [Documents]
      responses:
        '200':
          description: Document metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update document path
      description: Updates the document's path.
      operationId: updateDocument
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                path:
                  type: string
                  description: New document path
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Archive document
      description: Soft-deletes (archives) a document.
      operationId: deleteDocument
      tags: [Documents]
      responses:
        '204':
          description: Document archived
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/documents/{documentId}/restore:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/documentIdParam'
    post:
      summary: Restore archived document
      description: Restores a previously archived document.
      operationId: restoreDocument
      tags: [Documents]
      responses:
        '200':
          description: Document restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/documents/by-path/{path}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - name: path
        in: path
        required: true
        description: URL-encoded document path
        schema:
          type: string
    get:
      summary: Get document by path
      description: Returns document by its path.
      operationId: getDocumentByPath
      tags: [Documents]
      responses:
        '200':
          description: Document metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Branch-Scoped Documents
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/documents:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
    get:
      summary: List branch documents
      description: Returns documents with versions on this branch.
      operationId: listBranchDocuments
      tags: [Documents]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: List of documents on branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListResponse'

    post:
      summary: Create document on branch
      description: Creates a document with an initial version on this branch.
      operationId: createBranchDocument
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBranchDocumentRequest'
      responses:
        '201':
          description: Document created with initial version
          content:
            application/json:
              schema:
                type: object
                properties:
                  document:
                    $ref: '#/components/schemas/Document'
                  version:
                    $ref: '#/components/schemas/DocumentVersion'
        '409':
          description: Document path already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ===========================================================================
  # Document Versions
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/documents/{documentId}/versions:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/documentIdParam'
    get:
      summary: List document versions
      description: Returns version history for a document on a branch.
      operationId: listDocumentVersions
      tags: [Versions]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersionListResponse'

    post:
      summary: Create document version
      description: Creates a new version with the provided snapshot.
      operationId: createDocumentVersion
      tags: [Versions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVersionRequest'
      responses:
        '201':
          description: Version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersion'

  /sites/{siteId}/branches/{branchId}/documents/{documentId}/versions/latest:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/documentIdParam'
    get:
      summary: Get latest version
      description: Returns the latest version of a document on a branch.
      operationId: getLatestDocumentVersion
      tags: [Versions]
      responses:
        '200':
          description: Latest version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersion'
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/branches/{branchId}/documents/{documentId}/versions/{versionId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/documentIdParam'
      - name: versionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get specific version
      description: Returns a specific version by ID.
      operationId: getDocumentVersion
      tags: [Versions]
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVersion'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Real-time Document Operations
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/documents/{documentPath}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        description: Document path (URL-encoded)
        schema:
          type: string
    get:
      summary: Get current document state
      description: Returns the current CRDT-resolved state of a document.
      operationId: getDocumentState
      tags: [Real-time]
      responses:
        '200':
          description: Current document state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentState'
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/branches/{branchId}/documents/{documentPath}/connect:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        schema:
          type: string
    get:
      summary: WebSocket connection
      description: |
        Upgrades to WebSocket for real-time CRDT synchronization.

        **Protocol:**
        - Binary frames: Yjs CRDT updates
        - Text frames: JSON presence messages

        **Client Messages:**
        - `focus_region_update`: Update actor's focus regions
        - `presence_heartbeat`: Keep-alive with optional state update

        **Server Messages:**
        - `presence_update`: Full presence sync
        - `focus_region_broadcast`: Other actor's focus changed
        - `focus_region_ack`: Confirmation of focus update
        - `presence_error`: Error in presence operation
      operationId: connectDocument
      tags: [Real-time]
      parameters:
        - name: apiKey
          in: query
          description: API key for WebSocket auth
          schema:
            type: string
      responses:
        '101':
          description: Switching to WebSocket protocol
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/branches/{branchId}/documents/{documentPath}/edits:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Apply edit operations
      description: Applies programmatic edit operations to a document.
      operationId: applyEdits
      tags: [Real-time]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditOperationsRequest'
      responses:
        '200':
          description: Edits applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Concurrent edit conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ===========================================================================
  # Agent Edit Workflow
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/documents/{documentPath}/can-agent-edit:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Check if agent can edit
      description: |
        Checks whether an agent is allowed to edit the document based on:
        - Human presence and activity
        - Target region conflicts
        - Agent status
      operationId: canAgentEdit
      tags: [Real-time]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEditCheckRequest'
      responses:
        '200':
          description: Edit permission check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentEditPermission'

  /sites/{siteId}/branches/{branchId}/documents/{documentPath}/agent-edit-start:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Start agent edit session
      description: |
        Begins an agent edit session:
        - Creates pre-edit checkpoint (for rollback)
        - Registers agent presence with edit intent
        - Locks target regions from other agents
      operationId: agentEditStart
      tags: [Real-time]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEditStartRequest'
      responses:
        '200':
          description: Edit session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentEditStartResponse'
        '403':
          description: Agent not allowed to edit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentEditPermission'

  /sites/{siteId}/branches/{branchId}/documents/{documentPath}/agent-edit-complete:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Complete agent edit session
      description: |
        Completes an agent edit session:
        - Creates post-edit checkpoint
        - Releases region locks
        - Updates agent presence state
      operationId: agentEditComplete
      tags: [Real-time]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEditCompleteRequest'
      responses:
        '200':
          description: Edit session completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkpoint:
                    $ref: '#/components/schemas/Checkpoint'

  /sites/{siteId}/branches/{branchId}/documents/{documentPath}/agent-edit-abort:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Abort agent edit session
      description: |
        Aborts an agent edit session:
        - Reverts to pre-edit checkpoint
        - Releases region locks
        - Marks checkpoint as rolled back
      operationId: agentEditAbort
      tags: [Real-time]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEditAbortRequest'
      responses:
        '200':
          description: Edit session aborted
          content:
            application/json:
              schema:
                type: object
                properties:
                  rolledBackTo:
                    $ref: '#/components/schemas/Checkpoint'

  /sites/{siteId}/branches/{branchId}/documents/{documentPath}/focus-regions:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: documentPath
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Update agent focus regions
      description: Updates the agent's declared focus regions without WebSocket.
      operationId: updateFocusRegions
      tags: [Real-time]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agentId, focusRegions]
              properties:
                agentId:
                  type: string
                  format: uuid
                focusRegions:
                  type: array
                  items:
                    type: string
                  description: JSON paths the agent is focused on
      responses:
        '200':
          description: Focus regions updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  # ===========================================================================
  # Checkpoints
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/checkpoints:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
    get:
      summary: List checkpoints
      description: Returns checkpoints on a branch.
      operationId: listCheckpoints
      tags: [Checkpoints]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: checkpointType
          in: query
          schema:
            $ref: '#/components/schemas/CheckpointType'
      responses:
        '200':
          description: List of checkpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckpointListResponse'

    post:
      summary: Create checkpoint
      description: Creates a named checkpoint of current branch state.
      operationId: createCheckpoint
      tags: [Checkpoints]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckpointRequest'
      responses:
        '201':
          description: Checkpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkpoint'

  /sites/{siteId}/checkpoints/{checkpointId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - name: checkpointId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get checkpoint
      description: Returns checkpoint details.
      operationId: getCheckpoint
      tags: [Checkpoints]
      responses:
        '200':
          description: Checkpoint details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkpoint'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete checkpoint
      description: Deletes a checkpoint.
      operationId: deleteCheckpoint
      tags: [Checkpoints]
      responses:
        '204':
          description: Checkpoint deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/checkpoints/{checkpointId}/documents:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - name: checkpointId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get documents at checkpoint
      description: Returns document versions at a checkpoint.
      operationId: getCheckpointDocuments
      tags: [Checkpoints]
      responses:
        '200':
          description: Documents at checkpoint
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkpointId:
                    type: string
                    format: uuid
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentVersion'

  /sites/{siteId}/branches/{branchId}/checkpoints/{checkpointId}/revert:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: checkpointId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Revert to checkpoint
      description: Reverts branch state to a checkpoint.
      operationId: revertToCheckpoint
      tags: [Checkpoints]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for revert
      responses:
        '200':
          description: Branch reverted
          content:
            application/json:
              schema:
                type: object
                properties:
                  newVersion:
                    type: integer
                  revertedAt:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Merge Operations
  # ===========================================================================
  /sites/{siteId}/merge/check:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    post:
      summary: Check merge feasibility
      description: Checks if a merge can be performed without conflicts.
      operationId: checkMerge
      tags: [Merge]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeCheckRequest'
      responses:
        '200':
          description: Merge check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeCheckResponse'

  /sites/{siteId}/merge/preview:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    post:
      summary: Preview merge results
      description: Returns what the merge would look like without executing.
      operationId: previewMerge
      tags: [Merge]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeCheckRequest'
      responses:
        '200':
          description: Merge preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergePreviewResponse'

  /sites/{siteId}/merge/execute:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    post:
      summary: Execute merge
      description: Performs the merge operation.
      operationId: executeMerge
      tags: [Merge]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeExecuteRequest'
      responses:
        '200':
          description: Merge completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeExecuteResponse'
        '409':
          description: Merge has unresolved conflicts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeCheckResponse'

  # ===========================================================================
  # Merge Requests
  # ===========================================================================
  /sites/{siteId}/merge-requests:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
    get:
      summary: List merge requests
      description: Returns merge requests for a site.
      operationId: listMergeRequests
      tags: [Merge Requests]
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/MergeRequestStatus'
      responses:
        '200':
          description: List of merge requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequestListResponse'

    post:
      summary: Create merge request
      description: Creates a new merge request.
      operationId: createMergeRequest
      tags: [Merge Requests]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMergeRequestRequest'
      responses:
        '201':
          description: Merge request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequest'

  /sites/{siteId}/merge-requests/{requestId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - name: requestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get merge request
      description: Returns merge request details.
      operationId: getMergeRequest
      tags: [Merge Requests]
      responses:
        '200':
          description: Merge request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update merge request
      description: Updates merge request title, description, or status.
      operationId: updateMergeRequest
      tags: [Merge Requests]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMergeRequestRequest'
      responses:
        '200':
          description: Merge request updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete merge request
      description: Deletes a merge request.
      operationId: deleteMergeRequest
      tags: [Merge Requests]
      responses:
        '204':
          description: Merge request deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/merge-requests/{requestId}/execute:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - name: requestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Execute merge request
      description: Performs the merge from the merge request.
      operationId: executeMergeRequest
      tags: [Merge Requests]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                conflictResolutions:
                  type: array
                  items:
                    $ref: '#/components/schemas/ConflictResolution'
      responses:
        '200':
          description: Merge request executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequest'
        '409':
          description: Has unresolved conflicts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ===========================================================================
  # Structures
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/structures:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
    get:
      summary: List structures
      description: Returns structures on a branch.
      operationId: listStructures
      tags: [Structures]
      responses:
        '200':
          description: List of structures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureListResponse'

    post:
      summary: Create structure
      description: Creates a new site structure.
      operationId: createStructure
      tags: [Structures]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStructureRequest'
      responses:
        '201':
          description: Structure created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteStructure'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    get:
      summary: Get structure
      description: Returns structure details.
      operationId: getStructure
      tags: [Structures]
      responses:
        '200':
          description: Structure details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteStructure'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update structure
      description: Updates structure name or description.
      operationId: updateStructure
      tags: [Structures]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStructureRequest'
      responses:
        '200':
          description: Structure updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteStructure'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete structure
      description: Deletes a structure.
      operationId: deleteStructure
      tags: [Structures]
      responses:
        '204':
          description: Structure deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/navigation:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    get:
      summary: Get navigation tree
      description: Returns the hierarchical navigation tree.
      operationId: getNavigationTree
      tags: [Structures]
      responses:
        '200':
          description: Navigation tree
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigationTree'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/state:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    get:
      summary: Get structure state
      description: Returns branch-specific structure state.
      operationId: getStructureState
      tags: [Structures]
      responses:
        '200':
          description: Structure state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStructureState'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/schema:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    put:
      summary: Update metadata schema
      description: Sets the metadata schema for a structure.
      operationId: updateMetadataSchema
      tags: [Document Metadata]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                schema:
                  type: object
                  description: JSON Schema for document metadata
                enforcement:
                  $ref: '#/components/schemas/SchemaEnforcementMode'
      responses:
        '200':
          description: Schema updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStructureState'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/validate:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    post:
      summary: Validate all documents
      description: Validates all documents against the metadata schema.
      operationId: validateDocuments
      tags: [Document Metadata]
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaValidationResult'

  # ===========================================================================
  # Structure Nodes
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/structures/{structureId}/nodes:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    get:
      summary: List nodes
      description: Returns all nodes in a structure.
      operationId: listNodes
      tags: [Structure Nodes]
      responses:
        '200':
          description: List of nodes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeListResponse'

    post:
      summary: Create node
      description: Creates a new node in the structure.
      operationId: createNode
      tags: [Structure Nodes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNodeRequest'
      responses:
        '201':
          description: Node created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureNode'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/nodes/{nodeId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
      - $ref: '#/components/parameters/nodeIdParam'
    get:
      summary: Get node
      description: Returns node details.
      operationId: getNode
      tags: [Structure Nodes]
      responses:
        '200':
          description: Node details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureNode'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update node
      description: Updates node name or properties.
      operationId: updateNode
      tags: [Structure Nodes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNodeRequest'
      responses:
        '200':
          description: Node updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureNode'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete node
      description: Deletes a node from the structure.
      operationId: deleteNode
      tags: [Structure Nodes]
      responses:
        '204':
          description: Node deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/nodes/{nodeId}/move:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
      - $ref: '#/components/parameters/nodeIdParam'
    post:
      summary: Move node
      description: Moves a node to a new parent or position.
      operationId: moveNode
      tags: [Structure Nodes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parentNodeId:
                  type: string
                  format: uuid
                  nullable: true
                  description: New parent (null for root)
                position:
                  type: integer
                  minimum: 0
                  description: Position among siblings
      responses:
        '200':
          description: Node moved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureNode'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/nodes/reorder:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    post:
      summary: Reorder nodes
      description: Reorders nodes within a parent.
      operationId: reorderNodes
      tags: [Structure Nodes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nodeIds]
              properties:
                parentNodeId:
                  type: string
                  format: uuid
                  nullable: true
                  description: Parent node (null for root level)
                nodeIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Ordered list of node IDs
      responses:
        '200':
          description: Nodes reordered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  # ===========================================================================
  # Document Metadata
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/structures/{structureId}/metadata:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
    get:
      summary: List document metadata
      description: Returns metadata for all documents in a structure.
      operationId: listDocumentMetadata
      tags: [Document Metadata]
      responses:
        '200':
          description: List of document metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BranchDocumentMetadata'

  /sites/{siteId}/branches/{branchId}/structures/{structureId}/documents/{documentId}/metadata:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - $ref: '#/components/parameters/structureIdParam'
      - $ref: '#/components/parameters/documentIdParam'
    get:
      summary: Get document metadata
      description: Returns metadata for a specific document.
      operationId: getDocumentMetadata
      tags: [Document Metadata]
      responses:
        '200':
          description: Document metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchDocumentMetadata'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Set document metadata
      description: Sets or updates metadata for a document.
      operationId: setDocumentMetadata
      tags: [Document Metadata]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Metadata updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchDocumentMetadata'
        '400':
          description: Validation failed (if schema enforcement is strict)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaValidationError'

    delete:
      summary: Delete document metadata
      description: Removes metadata for a document.
      operationId: deleteDocumentMetadata
      tags: [Document Metadata]
      responses:
        '204':
          description: Metadata deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Branch Grants
  # ===========================================================================
  /sites/{siteId}/branches/{branchId}/grants:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
    get:
      summary: List branch grants
      description: Returns all grants for a branch.
      operationId: listBranchGrants
      tags: [Branch Grants]
      responses:
        '200':
          description: List of grants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchGrantListResponse'

    post:
      summary: Create branch grant
      description: Creates a new grant for a user or agent.
      operationId: createBranchGrant
      tags: [Branch Grants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBranchGrantRequest'
      responses:
        '201':
          description: Grant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchGrant'

  /sites/{siteId}/branches/{branchId}/grants/{grantId}:
    parameters:
      - $ref: '#/components/parameters/siteIdParam'
      - $ref: '#/components/parameters/branchIdParam'
      - name: grantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get branch grant
      description: Returns grant details.
      operationId: getBranchGrant
      tags: [Branch Grants]
      responses:
        '200':
          description: Grant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchGrant'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete branch grant
      description: Revokes a branch grant.
      operationId: deleteBranchGrant
      tags: [Branch Grants]
      responses:
        '204':
          description: Grant deleted
        '404':
          $ref: '#/components/responses/NotFound'

# =============================================================================
# Components
# =============================================================================
components:
  # ---------------------------------------------------------------------------
  # Security Schemes
  # ---------------------------------------------------------------------------
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from /auth/token endpoint

    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for agent authentication

  # ---------------------------------------------------------------------------
  # Parameters
  # ---------------------------------------------------------------------------
  parameters:
    limitParam:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50

    offsetParam:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0

    siteIdParam:
      name: siteId
      in: path
      required: true
      description: Site UUID
      schema:
        type: string
        format: uuid

    branchIdParam:
      name: branchId
      in: path
      required: true
      description: Branch UUID
      schema:
        type: string
        format: uuid

    documentIdParam:
      name: documentId
      in: path
      required: true
      description: Document UUID
      schema:
        type: string
        format: uuid

    orgIdParam:
      name: orgId
      in: path
      required: true
      description: Organization UUID
      schema:
        type: string
        format: uuid

    agentIdParam:
      name: agentId
      in: path
      required: true
      description: Agent UUID
      schema:
        type: string
        format: uuid

    structureIdParam:
      name: structureId
      in: path
      required: true
      description: Structure UUID
      schema:
        type: string
        format: uuid

    nodeIdParam:
      name: nodeId
      in: path
      required: true
      description: Node UUID
      schema:
        type: string
        format: uuid

  # ---------------------------------------------------------------------------
  # Responses
  # ---------------------------------------------------------------------------
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Permission denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  # ---------------------------------------------------------------------------
  # Schemas
  # ---------------------------------------------------------------------------
  schemas:
    # -------------------------------------------------------------------------
    # Common Schemas
    # -------------------------------------------------------------------------
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error message
        details:
          type: object
          properties:
            reason:
              type: string
            suggestions:
              type: array
              items:
                type: string

    PaginatedResponse:
      type: object
      properties:
        total:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Page size
        offset:
          type: integer
          description: Current offset

    # -------------------------------------------------------------------------
    # Enums
    # -------------------------------------------------------------------------
    ActorType:
      type: string
      enum: [user, agent, guest, service, system]

    PantheonRole:
      type: string
      enum: [owner, admin, developer, team_member]

    RoleName:
      type: string
      enum: [NO_ACCESS, VIEWER, EDITOR, ADMIN]

    BranchStatus:
      type: string
      enum: [active, review, merged, archived]

    CheckpointType:
      type: string
      enum: [manual, auto, pre_merge, post_merge, agent_pre_edit, agent_post_edit]

    CheckpointTrigger:
      type: string
      enum: [manual, human_requested, autonomous]

    CheckpointStatus:
      type: string
      enum: [completed, rolled_back, partial]

    DocumentVersionSource:
      type: string
      enum: [edit, merge, revert, checkpoint, realtime]

    MergeRequestStatus:
      type: string
      enum: [open, approved, merged, closed, conflicted]

    AgentStatus:
      type: string
      enum: [active, suspended, disabled]

    PresenceState:
      type: string
      enum: [active, idle, editing]

    StructureType:
      type: string
      enum: [collection, hierarchy]

    NodeType:
      type: string
      enum: [section, document, external]

    SchemaEnforcementMode:
      type: string
      enum: [strict, warn, none]

    EditOperationType:
      type: string
      enum: [set, delete, insert, move, replace]

    ConflictResolutionStrategy:
      type: string
      enum: [take-source, take-target, merge-crdt, manual]

    MergeApprovalMode:
      type: string
      enum: [none, optional, required]

    ApproverMode:
      type: string
      enum: [role_based, explicit, both]

    # -------------------------------------------------------------------------
    # Health
    # -------------------------------------------------------------------------
    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        database:
          type: object
          properties:
            connected:
              type: boolean
            latencyMs:
              type: number
        timestamp:
          type: string
          format: date-time

    # -------------------------------------------------------------------------
    # Authentication
    # -------------------------------------------------------------------------
    MockUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        siteRoles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PantheonRole'

    MockAgent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        siteRoles:
          type: object
          additionalProperties:
            type: string
            enum: [viewer, editor, admin]

    UserTokenRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    AgentTokenRequest:
      type: object
      required: [apiKey]
      properties:
        apiKey:
          type: string

    TokenResponse:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          type: string
          format: date-time
        principal:
          type: object
          properties:
            id:
              type: string
              format: uuid
            type:
              $ref: '#/components/schemas/ActorType'
            email:
              type: string
              format: email

    # -------------------------------------------------------------------------
    # Organizations
    # -------------------------------------------------------------------------
    OrganizationSettings:
      type: object
      properties:
        agentIdleTimeoutMs:
          type: integer
          minimum: 0
          default: 5000
          description: Idle time before autonomous agents can edit

    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        settings:
          $ref: '#/components/schemas/OrganizationSettings'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateOrganizationRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        settings:
          $ref: '#/components/schemas/OrganizationSettings'

    UpdateOrganizationRequest:
      type: object
      properties:
        name:
          type: string
        settings:
          $ref: '#/components/schemas/OrganizationSettings'

    OrganizationListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Organization'

    # -------------------------------------------------------------------------
    # Agents
    # -------------------------------------------------------------------------
    AgentSettings:
      type: object
      properties:
        priorityTier:
          type: string
        allowedOperationTypes:
          type: array
          items:
            type: string
        maxConcurrentDocuments:
          type: integer
          minimum: 1

    RegisteredAgent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        capabilities:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/AgentStatus'
        settings:
          $ref: '#/components/schemas/AgentSettings'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateAgentRequest:
      type: object
      required: [name, capabilities]
      properties:
        name:
          type: string
        description:
          type: string
        capabilities:
          type: array
          items:
            type: string
        settings:
          $ref: '#/components/schemas/AgentSettings'

    UpdateAgentRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        capabilities:
          type: array
          items:
            type: string
        settings:
          $ref: '#/components/schemas/AgentSettings'

    AgentListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/RegisteredAgent'

    # -------------------------------------------------------------------------
    # Sites
    # -------------------------------------------------------------------------
    WorkflowSettings:
      type: object
      properties:
        mergeApprovalMode:
          $ref: '#/components/schemas/MergeApprovalMode'
        minApprovers:
          type: integer
          minimum: 1
          default: 1
        allowSelfApproval:
          type: boolean
          default: false
        approverMode:
          $ref: '#/components/schemas/ApproverMode'
        approverMinRole:
          type: string
          enum: [EDITOR, ADMIN]

    Site:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pantheonSiteId:
          type: string
        organizationId:
          type: string
          format: uuid
        name:
          type: string
        workflowSettings:
          $ref: '#/components/schemas/WorkflowSettings'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateSiteRequest:
      type: object
      required: [pantheonSiteId, name]
      properties:
        pantheonSiteId:
          type: string
        name:
          type: string
        organizationId:
          type: string
          format: uuid
        workflowSettings:
          $ref: '#/components/schemas/WorkflowSettings'

    UpdateSiteRequest:
      type: object
      properties:
        name:
          type: string
        workflowSettings:
          $ref: '#/components/schemas/WorkflowSettings'

    SiteListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Site'

    # -------------------------------------------------------------------------
    # Branches
    # -------------------------------------------------------------------------
    Branch:
      type: object
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/BranchStatus'
        isMain:
          type: boolean
        sourceBranchId:
          type: string
          format: uuid
        sourceCheckpointId:
          type: string
          format: uuid
        createdById:
          type: string
          format: uuid
        createdByType:
          type: string
          enum: [user, agent]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateBranchRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        parentBranchId:
          type: string
          format: uuid
          description: Branch to fork from (defaults to main)

    UpdateBranchRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/BranchStatus'

    BranchListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Branch'

    # -------------------------------------------------------------------------
    # Documents
    # -------------------------------------------------------------------------
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        path:
          type: string
        createdAt:
          type: string
          format: date-time

    CreateDocumentRequest:
      type: object
      required: [path]
      properties:
        path:
          type: string
          description: Unique document path within site

    CreateBranchDocumentRequest:
      type: object
      required: [path]
      properties:
        path:
          type: string
        initialContent:
          type: object
          additionalProperties: true
          description: Initial document content

    DocumentListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Document'

    # -------------------------------------------------------------------------
    # Document Versions
    # -------------------------------------------------------------------------
    DocumentVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        documentId:
          type: string
          format: uuid
        branchId:
          type: string
          format: uuid
        versionNumber:
          type: integer
        snapshot:
          type: object
          additionalProperties: true
        crdtState:
          type: string
          description: Base64-encoded CRDT state
        source:
          $ref: '#/components/schemas/DocumentVersionSource'
        createdById:
          type: string
          format: uuid
        createdByType:
          type: string
          enum: [user, agent, system]
        createdAt:
          type: string
          format: date-time

    CreateVersionRequest:
      type: object
      required: [snapshot]
      properties:
        snapshot:
          type: object
          additionalProperties: true
        source:
          $ref: '#/components/schemas/DocumentVersionSource'
          default: edit

    DocumentVersionListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/DocumentVersion'

    # -------------------------------------------------------------------------
    # Real-time Operations
    # -------------------------------------------------------------------------
    DocumentState:
      type: object
      properties:
        documentId:
          type: string
          format: uuid
        branchId:
          type: string
          format: uuid
        content:
          type: object
          additionalProperties: true
        versionNumber:
          type: integer
        lastUpdated:
          type: string
          format: date-time

    EditOperation:
      type: object
      required: [type, path]
      properties:
        type:
          $ref: '#/components/schemas/EditOperationType'
        path:
          type: string
          description: JSON path to target
        value:
          description: Value for set/replace operations
        content:
          description: Content for insert operations
        index:
          type: integer
          description: Array index for insert operations
        fromIndex:
          type: integer
          description: Source index for move operations
        toIndex:
          type: integer
          description: Destination index for move operations

    EditOperationsRequest:
      type: object
      required: [operations]
      properties:
        operations:
          type: array
          items:
            $ref: '#/components/schemas/EditOperation'
          maxItems: 100

    # -------------------------------------------------------------------------
    # Agent Edit Workflow
    # -------------------------------------------------------------------------
    AgentEditCheckRequest:
      type: object
      required: [agentId, trigger, targetRegions]
      properties:
        agentId:
          type: string
          format: uuid
        trigger:
          type: string
          enum: [human_requested, autonomous]
        targetRegions:
          type: array
          items:
            type: string
          description: JSON paths the agent intends to edit

    AgentEditPermission:
      type: object
      properties:
        allowed:
          type: boolean
        reason:
          type: string
          enum: [human_active, region_conflict, agent_disabled, no_access]
        retryAfterMs:
          type: integer
          description: Suggested retry delay in milliseconds
        conflictingRegions:
          type: array
          items:
            type: string

    AgentEditStartRequest:
      type: object
      required: [agentId, trigger, targetRegions]
      properties:
        agentId:
          type: string
          format: uuid
        trigger:
          type: string
          enum: [human_requested, autonomous]
        intent:
          type: string
          description: Human-readable description of intended action
        targetRegions:
          type: array
          items:
            type: string

    AgentEditStartResponse:
      type: object
      properties:
        preEditCheckpoint:
          $ref: '#/components/schemas/Checkpoint'
        sessionId:
          type: string
          format: uuid

    AgentEditCompleteRequest:
      type: object
      required: [agentId]
      properties:
        agentId:
          type: string
          format: uuid
        summary:
          type: string
          description: Summary of changes made

    AgentEditAbortRequest:
      type: object
      required: [agentId]
      properties:
        agentId:
          type: string
          format: uuid
        reason:
          type: string
          description: Reason for aborting

    # -------------------------------------------------------------------------
    # Checkpoints
    # -------------------------------------------------------------------------
    Checkpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        branchId:
          type: string
          format: uuid
        name:
          type: string
        message:
          type: string
        description:
          type: string
        checkpointType:
          $ref: '#/components/schemas/CheckpointType'
        trigger:
          $ref: '#/components/schemas/CheckpointTrigger'
        requestedById:
          type: string
          format: uuid
        operationType:
          type: string
        affectedRegions:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/CheckpointStatus'
        rolledBackById:
          type: string
          format: uuid
        rolledBackAt:
          type: string
          format: date-time
        createdById:
          type: string
          format: uuid
        createdByType:
          type: string
          enum: [user, agent, system]
        createdAt:
          type: string
          format: date-time

    CreateCheckpointRequest:
      type: object
      properties:
        name:
          type: string
        message:
          type: string
        description:
          type: string
        checkpointType:
          $ref: '#/components/schemas/CheckpointType'
          default: manual

    CheckpointListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Checkpoint'

    # -------------------------------------------------------------------------
    # Merge
    # -------------------------------------------------------------------------
    MergeCheckRequest:
      type: object
      required: [sourceBranchId, targetBranchId]
      properties:
        sourceBranchId:
          type: string
          format: uuid
        targetBranchId:
          type: string
          format: uuid

    MergeCheckResponse:
      type: object
      properties:
        mergeableStatus:
          type: string
          enum: [clear, conflicts, errors]
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/DocumentConflict'
        structureConflicts:
          type: array
          items:
            $ref: '#/components/schemas/StructureMergeConflict'

    DocumentConflict:
      type: object
      properties:
        documentId:
          type: string
          format: uuid
        documentPath:
          type: string
        conflictType:
          type: string
          enum: [both-modified, deleted-in-source, deleted-in-target]
        sourceVersion:
          type: integer
        targetVersion:
          type: integer
        suggestedResolution:
          $ref: '#/components/schemas/ConflictResolutionStrategy'

    StructureMergeConflict:
      type: object
      properties:
        structureId:
          type: string
          format: uuid
        conflictType:
          type: string
          enum: [node-move, node-delete, schema-change, metadata-change]
        details:
          type: object
          properties:
            nodeId:
              type: string
              format: uuid
            documentId:
              type: string
              format: uuid
            sourceValue: {}
            targetValue: {}
            baseValue: {}

    MergePreviewResponse:
      allOf:
        - $ref: '#/components/schemas/MergeCheckResponse'
        - type: object
          properties:
            preview:
              type: object
              properties:
                addedDocuments:
                  type: array
                  items:
                    type: string
                modifiedDocuments:
                  type: array
                  items:
                    type: string
                deletedDocuments:
                  type: array
                  items:
                    type: string

    ConflictResolution:
      type: object
      required: [documentId, strategy]
      properties:
        documentId:
          type: string
          format: uuid
        strategy:
          $ref: '#/components/schemas/ConflictResolutionStrategy'
        manualContent:
          type: object
          additionalProperties: true
          description: Required when strategy is 'manual'

    MergeExecuteRequest:
      type: object
      required: [sourceBranchId, targetBranchId]
      properties:
        sourceBranchId:
          type: string
          format: uuid
        targetBranchId:
          type: string
          format: uuid
        message:
          type: string
        conflictResolutions:
          type: array
          items:
            $ref: '#/components/schemas/ConflictResolution'

    MergeExecuteResponse:
      type: object
      properties:
        success:
          type: boolean
        mergeCheckpoint:
          $ref: '#/components/schemas/Checkpoint'
        mergedDocuments:
          type: integer
        createdAt:
          type: string
          format: date-time

    # -------------------------------------------------------------------------
    # Merge Requests
    # -------------------------------------------------------------------------
    MergeRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        sourceBranchId:
          type: string
          format: uuid
        targetBranchId:
          type: string
          format: uuid
        baseCheckpointId:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/MergeRequestStatus'
        hasConflicts:
          type: boolean
        conflictDetails:
          type: object
          properties:
            documentConflicts:
              type: array
              items:
                $ref: '#/components/schemas/DocumentConflict'
            structureConflicts:
              type: array
              items:
                $ref: '#/components/schemas/StructureMergeConflict'
        createdById:
          type: string
          format: uuid
        createdByType:
          type: string
          enum: [user, agent]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        mergedAt:
          type: string
          format: date-time
        mergedById:
          type: string
          format: uuid

    CreateMergeRequestRequest:
      type: object
      required: [sourceBranchId, targetBranchId, title]
      properties:
        sourceBranchId:
          type: string
          format: uuid
        targetBranchId:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string

    UpdateMergeRequestRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/MergeRequestStatus'

    MergeRequestListResponse:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/MergeRequest'

    # -------------------------------------------------------------------------
    # Structures
    # -------------------------------------------------------------------------
    SiteStructure:
      type: object
      properties:
        id:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        structureType:
          $ref: '#/components/schemas/StructureType'
        createdAt:
          type: string
          format: date-time

    CreateStructureRequest:
      type: object
      required: [name, slug, structureType]
      properties:
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        structureType:
          $ref: '#/components/schemas/StructureType'

    UpdateStructureRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    StructureListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SiteStructure'

    NavigationTree:
      type: object
      properties:
        structureId:
          type: string
          format: uuid
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/NavigationNode'

    NavigationNode:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        nodeType:
          $ref: '#/components/schemas/NodeType'
        documentId:
          type: string
          format: uuid
        externalUrl:
          type: string
          format: uri
        children:
          type: array
          items:
            $ref: '#/components/schemas/NavigationNode'

    BranchStructureState:
      type: object
      properties:
        id:
          type: string
          format: uuid
        branchId:
          type: string
          format: uuid
        structureId:
          type: string
          format: uuid
        nodesSnapshot:
          type: array
          items:
            type: object
        metadataSchema:
          type: object
          description: JSON Schema for document metadata
        schemaEnforcement:
          $ref: '#/components/schemas/SchemaEnforcementMode'
        updatedAt:
          type: string
          format: date-time

    # -------------------------------------------------------------------------
    # Structure Nodes
    # -------------------------------------------------------------------------
    StructureNode:
      type: object
      properties:
        id:
          type: string
          format: uuid
        structureId:
          type: string
          format: uuid
        parentNodeId:
          type: string
          format: uuid
        position:
          type: integer
        name:
          type: string
        slug:
          type: string
        nodeType:
          $ref: '#/components/schemas/NodeType'
        documentId:
          type: string
          format: uuid
        externalUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time

    CreateNodeRequest:
      type: object
      required: [name, slug, nodeType]
      properties:
        parentNodeId:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        nodeType:
          $ref: '#/components/schemas/NodeType'
        documentId:
          type: string
          format: uuid
          description: Required for document nodes
        externalUrl:
          type: string
          format: uri
          description: Required for external nodes
        position:
          type: integer
          minimum: 0

    UpdateNodeRequest:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        externalUrl:
          type: string
          format: uri

    NodeListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/StructureNode'

    # -------------------------------------------------------------------------
    # Document Metadata
    # -------------------------------------------------------------------------
    BranchDocumentMetadata:
      type: object
      properties:
        id:
          type: string
[...]
